body{padding:40px;color:#404040;font:14px/1.8 "Lucida Grande",Helvetica,Arial,sans-serif;}
a{color:#5282D4;text-decoration:none;border-bottom:1px solid #5282D4;}
a:hover{color:#000;border-color:#000;}
h1{margin-top:0;}
.error{font-weight:bold;color:red;}
