!!! 5
html
  head
    title= title
    link(rel='stylesheet',href='http://static.fedtool.com/fedtool/style/style.css')
    script(src='http://static.fedtool.com/global/js/jquery.js')
    script(src='http://static.fedtool.com/fedtool/js/uglifyjs.js')
  body!= body
