h1
    a(href='/') home
    \ /\ #{title}
p a JavaScript parser/compressor/beautifier 
    a(href='/uglifyjs/use') use
p This package implements a general-purpose JavaScript parser/compressor/beautifier toolkit. It is developed on 
  a(href="http://nodejs.org/") NodeJS
  , but it should work on any JavaScript platform supporting the CommonJS module system (and if your platform of choice doesn’t support CommonJS, you can easily implement it, or discard the exports.* lines from UglifyJS sources).
