h1
    a(href='/') FEDTool
    \ /\ 
    a(href='/uglifyjs') #{title}
    \ / use
h2 source
form#uglify_form(method="post",action="/uglifyjs/use")
    textarea(id='source',name='source',style="width:100%;height:200px") #{src}
    br
    input(type='checkbox',name='strict_semicolons',id='J_strict_semicolons')
    label(for='J_strict_semicolons') strict semicolons 
    input(type='checkbox',name='lift_variables',id='J_lift_variables')
    label(for='J_lift_variables') lift variables 
    input(type='checkbox',name='mangle',id='J_mangle')
    label(for='J_mangle') mangle 
    input(type='checkbox',name='mangle_except',id='J_mangle_except',disabled)
    label(for='J_mangle_except') mangle except
    input(type='checkbox',name='mangle_defines',id='J_mangle_defines',disabled)
    label(for='J_mangle_defines') mangle defines
    input(type='checkbox',name='ascii_only',id='J_ascii_only')
    label(for='J_ascii_only') ascii only 
    input(type='checkbox',name='quote_keys',id='J_quote_keys')
    label(for='J_quote_keys') quote keys
    br
    input#uglify_type(type='hidden',name='type')
    button#btn_beautify(type='button') beautify
    button#btn_compress(type='button') compress
if error
    .error#error= error
    h2 output
    textarea(id='output',style='width:100%;height:200px',disabled)
else
    .error#error
    h2 output
    textarea(id='output',style='width:100%;height:200px',disabled)= out
